


  .cabecalho {
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: start;
  }


    



section {
    margin: 15px 0;
    width: 100%;
    padding: 30px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0,0.1);
    border-radius: 8px;
    border: 1px solid #ccc;
  }






  h2.titulo {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .box {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
  }
    .sectionGroup{
    display: flex;
   
    
  }

  .sectionGroup2{
    display: flex;
    align-items: center;
    width: 10000px;
   
    
  }
    
 

div.container {
  display: flex;
  align-items: center;
  margin-right: -50px;
}

  


  .content {
    background: #2ab3b9;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }




  

    span {
      font-size: 20px;
      color: #eee;
    }
 

  .goup p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .subtitulo {
    color: #666;
    font-size: 13px;
  }
  

  

/* section description */

.description {
  margin-top: 25px;
}
  p {
    font-size: 15px;
    word-spacing: 1px;
    line-height: 21px;
  }
 /*fim text */


  img {
    border: 1px solid #ddd;
    padding: 30px;
    width: 200px;
    margin-right: 20px;

  }


